h3{
   margin: 0px;
   margin-bottom: 15px;
   font-size: 28px;
   font-weight: 800;
}

h5{
   font-size: 24px;
   margin-bottom: 0px;
   margin-top: 28px;
   font-weight: 800;
}

.content{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

.contentdiv{
   display: flex;
   margin-top: 30px;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   width: 70%;
}

.aboutSkills, .contactEducation{
   display: flex;
   margin: 0px;
   flex-direction: column;
}

.aboutSkills{
   flex: 3;
}

.contactEducation{
   flex: 1;
}

.aboutMe, .contactInfo, .skills, .education{
   background: #232027;
   margin: 15px;
   padding: 40px;
}

.email{
   font-weight: 600;
}

.linebreak{
   background-color: white;
   height: 2px;
   flex-basis: 75%;
}

.educationList{
   display: flex;
   flex-direction: column;
}

.degree{
   margin-bottom: 4px;
   font-weight: 700;
   font-size: 18px;
}

.college, .date{
   display: inline-block;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 14px;
}

.college{
   font-weight: 600;
}

.date{
   font-weight: 10;
   margin-bottom: 5px;
}

.githublink{
   color: #da5e5e;
   text-decoration: none;
   font-weight: 600;

}

.githublink:hover{
   text-decoration: underline;
}

.projectsList{
   display: flex;
   flex-direction: column;
   margin-top: 15px;
}

.projects{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 20px;
}

.TitleDesc{
   margin-left: 20px;
}

.projectTitle{
   margin-bottom: 10px;
   font-size: 24px;
   font-weight: 700;
}

.projectDesc{
   margin-top: 10px;
   margin-bottom: 10px;
}

.projectLink{
   color: #6cc644;
   text-decoration: none;
   margin-top: none;
}

.projectLink:hover{
   text-decoration: underline;
}

.collegeName{
   margin-top: 15px;
   font-style: italic;
   margin-bottom: 6px;
   font-weight: 700;
   font-size: 20px;
}

.collegeWork{
   display: flex;
   flex-direction: column;
   font-size: 16px;
   width: 100%;
}

.courseWork{
   color: #4078c0;
   text-decoration: none;
}

.courseDesc{
   display: flex;
   
}

 @media (max-width: 1000px) {
   .contentdiv{
      width: 650px;
      flex-direction: column;
      align-items: center;
   }
   .aboutSkills{
      width: 100%;
   }
   .contactEducation{
      width: 100%;
   }
   
   .projects{
      flex-direction: column;
   }

   .TitleDesc{
      margin-left: 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .projectTitle{
      margin-top: 10px
   }

}

@media (max-width: 500px) {
   .contentdiv{
      width: 90%;
      flex-direction: column;
      align-items: center;
   }

   .projectPic{
      max-width: 100%;
      height: auto;
   }

   

}